* {
  /* Primary colors */
  --clr-purple-100: hsl(275, 100%, 97%);
  --clr-purple-600: hsl(292, 16%, 49%);
  --clr-purple-950: hsl(292, 42%, 14%);

  /* Neutral colors */
  --clr-white: hsl(0, 100%, 100%);

  /* Typography */
  --fw-reg: 400;
  --fw-bold: 600;
  --fw-bolder: 700;
}

/* CSS reset start */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
}
/* CSS reset end */

body {
  font-family: 'Overpass', sans-serif;
}

.hidden {
  display: none;
}
